[2015-04-12 03:50] deathowl opened #1 "Mongo3 support."
This works really well with mongo 2, but crashes with mongo3. Mongo 3 support would be super awesome.

[2015-04-13 13:24] #1 closed

[2015-04-13 13:25] dcu commented on #1
hello @deathowl Thanks for reporting this issue.
I just pushed a fix for it, can you test it?

[2015-06-08 17:35] MrMMorris opened #2 "Docker image?"
Are there plans to have a docker image for this lovely exporter?

Here is an example: https://github.com/docker-infra/container_exporter/blob/master/Dockerfile

Let me know if you want me to help with anything :wink:

[2015-06-09 02:28] dcu commented on #2
hi @MrMMorris
you are welcome to help! I just added you to the repo as collaborator with push permissions

[2015-06-09 21:54] MrMMorris commented on #2
Done! Do you have a docker hub account? or should I put it on mine? I don't want to steal any of your thunder :wink:

[2015-06-10 00:26] dcu commented on #2
go ahead Marcus, you can use yours

[2015-06-19 12:56] Chronicless opened #3 "MongoDB exporter fails"
Cant launch mongodb exporter , on my local MogoDB log -
15:06:54.295 [initandlisten] connection accepted from 127.0.0.1:35964 #7 (1 connection now open)
15:06:54.302 [conn7] end connection 127.0.0.1:35964 (0 connections now open)

System - Debian GNU/Linux 8

mongod debian

List all commands | Replica set status

Mongo
db version v2.4.10
git hash: nogitversion
sys info: Linux brahms 3.2.0-4-amd64

[2015-06-26 01:57] #2 closed

[2015-06-26 09:28] Chronicless commented on #3
download new version, compile it, still go an errors

2015-06-26 4:57 GMT+03:00 David Cuadrado <notifications@github.com>:

[2015-06-26 12:33] dcu commented on #3
Is it the same error? Can you copy paste it here?

[2015-06-26 12:44] Chronicless commented on #3
Make result
--------------------------------------------------
root@debian:/home/dima/Downloads/adds/mongodb_exporter-master# make
go-bindata -pkg=shared -o=shared/assets.go groups.yml
go test github.com/dcu/mongodb_exporter/collector -cover
-coverprofile=collector_coverage.out -short
--- FAIL: Test_CollectServerStatus (0.00s)
panic: runtime error: invalid memory address or nil pointer dereference

[2015-06-26 13:58] dcu commented on #3
Please give it another try and attach the output if it fails again. Since I don't have mongodb 2.4 I can't make sure the issue is fixed.

[2015-06-26 14:10] Chronicless commented on #3
root@debian:/home/dima/Downloads/adds/mongodb_exporter-master# make
go-bindata -pkg=shared -o=shared/assets.go groups.yml
go test github.com/dcu/mongodb_exporter/collector -cover -coverprofile=collector_coverage.out -short
--- FAIL: Test_CollectServerStatus (0.15s)
panic: runtime error: invalid memory address or nil pointer dereference [recovered]
	panic: runtime error: invalid memory address or n

[2015-06-26 14:14] dcu commented on #3
I'm not seeing those lines, please run:

    git log --oneline  -1

and make sure the commit id is `0f6e374` otherwise git pull.
and run the program like this:

    go run mongodb_exporter.go -alsologtostderr=true

[2015-06-26 14:18] Chronicless commented on #3
root@debian:/home/dima/Downloads/adds/mongodb_exporter-master# git log
--oneline  -1
fatal: Not a git repository (or any of the parent directories): .git
root@debian:/home/dima/Downloads/adds/mongodb_exporter-master# go run
mongodb_exporter.go -alsologtostderr=true
I0626 17:16:01.437261   32699 server_status.go:93] Closing connection to
database.
I0626 17:16:01.474128   32699 group.go:215] Setting

[2015-07-24 14:03] William-Yeh commented on #3
I have no error using mongodb_exporter with MongoDB 3.0.4:

- mongodb_exporter: see https://github.com/William-Yeh/ansible-mongodb-exporter
- MongoDB 3.0.4: see https://registry.hub.docker.com/_/mongo/
- Testing with CircleCI: https://circleci.com/gh/William-Yeh/ansible-mongodb-exporter/1

[2015-07-24 14:12] Chronicless commented on #3
Cause it was fixed 2015-06-26  , thanks to David Cuadrado  once againg for patch

[2015-07-24 15:13] dcu commented on #3
Sorry I forgot to close this issue

[2015-07-24 15:13] #3 closed

[2015-10-09 22:00] baseio opened #4 "cant build"
Hi,

Build fails with
[code]

ideas?

(still on Mongo 2.4)

[2015-10-10 17:07] dcu commented on #4
hi @baseio what's your golang version?

    $ go version

[2015-10-11 18:45] baseio commented on #4
go version go1.3 darwin/amd64

[2015-10-11 19:04] baseio commented on #4
sorry - on the server `go version` reports
`go version xgcc (Ubuntu 4.9.1-0ubuntu1) 4.9.1 linux/amd64`

[2015-10-11 21:44] dcu commented on #4
looks like it's gccgo, please try compiling with the official golang

[2015-10-15 16:48] bugcy013 commented on #4
@dcu  I am also facing building issue

➜  mongodb_exporter git:(master) go version
go version go1.5.1 linux/amd64

➜  mongodb_exporter git:(master) make build
go get -u github.com/prometheus/client_golang/prometheus
go get -u gopkg.in/yaml.v2
go get -u github.com/jteeuwen/go-bindata
go get -u gopkg.in/mgo.v2
go-bindata -pkg=shared -o=shared/assets.go groups.yml
go build mongodb_exporter.go
mongodb

[2015-10-16 00:00] dcu commented on #4
@bugcy013 that's weird. did you use `git clone` instead of `go get` to install the package?

try

    go get github.com/dcu/mongodb_exporter
    cd $GOPATH/src/github.com/dcu/mongodb_exporter
    make build

[2015-10-16 10:43] dhanasekaran-anbalagan commented on #4
@dcu  Thanks, You are correct, I did git clone instead of go get

it's working.

➜  ~  rm -rf mongodb_exporter
➜  ~  go get github.com/dcu/mongodb_exporter

➜  ~
➜  ~  cd $GOPATH/src/github.com/dcu/mongodb_exporter
➜  mongodb_exporter git:(master) make build
go get -u github.com/prometheus/client_golang/prometheus
go get -u gopkg.in/yaml.v2
go get -u github.com/jteeuwen/go-bindata
go get -u gopkg.

[2015-11-03 17:01] jasson15 opened #5 "Suggest using alpine:latest in the Dockerfile"
I suggest to use `latest` (stable) version of alpine instead of `edge`. Otherwise, it will get the following error:

[code]

After I change it into latest, everything goes just fine.

[2015-12-04 18:04] discordianfish opened #7 "Stale/wrong values for (at least) mongodb_network_bytes_total"
Hi,

I'm trying to use the mongodb_exporter but realize some odd issues. It's somehow not exposing the actual numbers for the mongodb_network_bytes_total sometimes. This is the output of `curl`ing the exporter every second:

[code]

I've checked mongodb and those aren't counter resets or something. I suspect there is some issues with the `shared/`, maybe it creates two counters with the same name

[2015-12-08 14:26] #5 closed

[2015-12-08 14:26] #4 closed

[2015-12-08 15:31] dcu commented on #7
weird, it's working fine on my side. did you restart the mongodb server?

Please let me know if you find what's causing the issue

[2015-12-08 16:27] discordianfish commented on #7
@dcu No it didn't restart. And I also saw the issue with other metrics. In general lot of numbers seems to be off. I've checked the stats in mongodb via the mongo shell and they look correct, so it really seems like an issue with the exporter.

[2015-12-09 12:53] dcu commented on #7
How's your setup? Replica set? Sharded? MongoDB version?

Also can you post an example of the exporter data vs db status data?

Thanks

On Tue, Dec 8, 2015, 11:27 AM discordianfish <notifications@github.com>
wrote:

[2015-12-09 15:36] discordianfish commented on #7
It's mongodb 2.6.9, 5 shards with 4 replicas each running on AWS. Here is the exporter and mongo cli output from the same time (<1s between):

- https://gist.github.com/discordianfish/38c80b18364bc52b83df All good here
- https://gist.github.com/discordianfish/a04db20657e8bda951d0 Differences of bytesIn vs in_bytes

When run in a loop and watching for the in_bytes counter this gets more apparent:
[

[2015-12-21 15:14] discordianfish commented on #7
@dcu General question: Are you still using this exporter and plan to maintain it in the future? It looks like it's not working with mongodb 3.2 and the code isn't very go idiomatic so I would rather refactor it first before adding support for mongodb 3.2 and fixing this issue here.

[2015-12-21 19:58] dcu commented on #7
@discordianfish I added you as collaborator to the repo, feel free to refactor it

[2015-12-23 15:43] percona-services-ro commented on #7
@discordianfish  We should sync up I was going to start adding more metrics for replSet's and Sharding/mongos. Would like to work with you on your refactors so I take those into account before I do a pull request :)

[2015-12-23 15:44] dbmurphy commented on #7
@discordianfish We should sync up I was going to start adding more metrics for replSet's and Sharding/mongos. Would like to work with you on your refactors so I take those into account before I do a pull request :)

[2015-12-23 15:52] discordianfish commented on #7
I just looked into refactoring it but I tend to rewrite it in a simpler way. I get that the dynamic configuration of 'interesting' values via the groups.yaml and things like that are nice but also make everything quite complex.

[2015-12-23 15:56] dbmurphy commented on #7
I think the yaml way while complex lends more toward Ansible integration wouldn't you say?  If you can think of another methodology I am curious. But I do see your point simple and clean interfaces are nice. I think there are two phases here  1) Refactor to be cleaner ( not me im not that good at go yet)  2) Expand the tool to support the entire mongo system not just stand alone nodes.  When do yo

[2015-12-24 09:18] 0x46616c6b opened #8 "Huge info log files"
We run the exporter since 2/3 weeks and we noticed that the exporter writes massive info logs. This should be optional. Is there actual a way to deactivate the logs?

Here the output from a server

    root@db33:/var/lib/docker/aufs/mnt/d1f20f50bd4ff60948f2fdb3b770e1588cbbe2b9e19aa625273efbdff5901e05/tmp# ls -lah
    insgesamt 2,2G
    drwxrwxrwt  2 root root 4,0K Dez 21 17:53 .
    drwxr-xr-x 31

[2015-12-26 18:23] discordianfish commented on #7
Looks like @dcu started refactoring the code. That's great! Then I'll hold off with that for now and see if I can contribute to this code base after the refactoring is done.

@dcu If you have prometheus related questions, I'm happy to help!

[2016-01-04 11:14] 0x46616c6b commented on #8
the option `-v2` solves this issue.

[2016-01-04 11:14] #8 closed

[2016-01-22 11:07] discordianfish commented on #7
Just FYI: I built a new sharded cluster, this time with mongo 3.2 and there metrics look much more reasonable.

I also confirmed that with current master, I still have the same problem on our old cluster.

[2016-02-20 15:59] dcu commented on #7
@discordianfish are you passing more than one host in the URI parameter?

[2016-03-01 17:03] jeinwag opened #12 "Metrics don't seem right"
I'm running mongodb_exporter on a three node mongodb cluster, so there are thee instances of mongodb_exporter which are being scraped by prometheus.
It looks as at least some of the metrics rerieved by mongodb_exporter are not correct. Let's consider mongodb_op_counters_repl_total, mongodb_exporter is given the exact same value on all three servers:

     mongodb_op_counters_repl_total{type="comma

[2016-03-01 18:43] zwopiR commented on #12
you hit a mongodb "feature": it returns the status of one arbitrary replica node. Try appending "?connect=direct" to the exporter URL parameter

[2016-03-01 18:46] zwopiR commented on #12
If it helps, we should consider to hardcode it into the exporter. So please give Feedback on the issue.

[2016-03-02 08:40] jeinwag commented on #12
Thanks for the quick feedback, appending "?connect=direct" fixed the issue, everything looks good now!

[2016-03-02 15:31] #12 closed

[2016-03-13 11:48] parkhyeonghwa opened #13 "./mongodb_exporter.go:39: r.BasicAuth undefined"
Hi -
Could you please advise on the below.

[root@localhost:~/go/packages/src/github.com/dcu/mongodb_exporter]# go build
# github.com/dcu/mongodb_exporter

./mongodb_exporter.go:39: r.BasicAuth undefined (type *http.Request has no field or method BasicAuth)

Hope to get an advise at the earliest.

Thanks!

[2016-03-13 12:48] dcu commented on #13
hi, what's your `go version` ?

[2016-03-24 20:44] maZahaca opened #14 "Could you provide mongo custom query exporter"
Hi,
I really need an exporter which gets data by custom queries. Is it possible to implement in in here?

[2016-05-28 04:18] dcu commented on #7
I think this was resolved with the commit from March 7. Please reopen if it is not.

[2016-05-28 04:18] #7 closed

[2016-06-01 14:18] u2takey opened #20 "run mongodb_exporter cause mongodb node cpu 100%"
run mongodb_exporter cause mongodb node cpu 100%

[2016-06-05 13:38] vic3lord opened #21 "SASL Authentication failed"
Hi,

I cannot connect to MongoDB instance that has authentication enabled in it.
MongoDB version 3.2.6, Debian Wheezy.

Best regards

[2016-06-08 16:12] nemocean commented on #13
the same issue
go version go1.2.1 linux/amd64

[2016-07-08 15:59] czgarrett commented on #13
Having the same issue.  What's the required go version?

[2016-08-17 19:33] deepthawtz opened #25 "deployment question"
how are people using `mongodb_exporter` to monitor several different mongodb clusters? Do you A) deploy a single `mongodb_exporter` with one big long `-mongodb.uri` option or B) deploy a separate `mongodb_exporter` instance per cluster?

I'm leaning toward option B since that would allow me to easily segment and tag each scrape source.

Thanks.

[2016-08-18 06:56] #25 closed

[2016-08-24 17:23] deepthawtz opened #27 "metrics broken down by mongodb host"
When providing a `-mongodb.uri` argument w/ multiple hosts there is no breakdown of metrics per host/instance, only aggregate.

Not sure if this is a problem for anyone else but I think it would be nice to see which host in sharded cluster is experiencing issues (cpu, memory, etc).

Are there workarounds or plans to add an `instance` label to metrics?

[2016-08-24 19:41] deepthawtz opened #28 "travis CI setup"
Could we set up a Travis CI project for this repo? Would be helpful to track test coverage + run CI against pull requests

[2016-08-26 08:10] tcaxias commented on #13
It's working for me with go 1.6

[2016-08-26 15:29] deepthawtz opened #30 "non-metrics endpoint for healthchecks"
I am deploying `mongodb_exporter` as a Docker container and it would be nice to have an endpoint other than /metrics to use for healthchecks.

[2016-08-26 15:42] #27 closed

[2016-09-07 12:33] rahilb opened #33 "Stale / Incorrect replset_member_state metrics"
Hi,

I have a replica set setup with three nodes (deployed to rancher). The mongodb exporter is a sidekick to my mongodb container, meaning for each mongo instance there is also an exporter instance that is being scraped. However i'm seeing some strange behaviour in the `replset_member_state` metric.

The issue is, if a member of the replica set goes to any state, this is reported as a new series

[2016-09-20 05:53] songjiayang opened #34 "How can I get mongo running status?"
Is there a metric like mysqld_exporter's `mysql_up` to express mongo's running status.

[2016-09-21 12:31] MrMMorris opened #35 "Use with Mongo TLS replica?"
Just wondering if this can be used with a mongo replica running TLS/SSL

Thanks!

[2016-09-29 13:21] #30 closed

[2016-10-11 11:52] trollknurr opened #37 "error: unknown shared.MongoSessionOpts field"
Hello!

Trying to compile latest master, got this error:
[code]

Compile using this container [docker container](https://hub.docker.com/_/golang/) tag 1.6

P.S. install missing dependence with command

`go get -u github.com/golang/glog`

[2016-10-11 12:47] thematt commented on #37
i have same error

[2016-10-12 17:04] jasonparekh commented on #27
@deepthawtz curious, what was your solution for this?

[2016-10-12 20:58] martinhoefling commented on #37
https://github.com/dcu/mongodb_exporter/pull/38 should fix this.

[2016-10-13 22:27] deepthawtz commented on #27
didn't really solve, I just decided there are probably enough indicators of cluster health w/o cpu metrics for each host

[2016-10-13 22:32] deepthawtz commented on #14
that is outside the scope of this project

something you are looking for could be built easily using prometheus + mongo client libraries

[2016-10-13 22:32] #14 closed

[2016-10-13 22:35] deepthawtz commented on #20
if you can provide more information someone can investigate this, I've not seen this happen and would be interested if that is the case

[2016-10-13 22:35] #20 closed

[2016-10-14 22:07] deepthawtz commented on #34
There are `mongodb_instance_uptime_seconds` and `mongodb_repl_member_health`

[2016-10-14 22:07] #34 closed

[2016-10-17 15:57] deepthawtz commented on #37
Fixed by #36

[2016-10-17 15:57] #37 closed

[2016-10-17 18:07] deepthawtz commented on #35
yes, see flags in `mongodb_exporter.go`

[2016-10-17 18:07] #35 closed

[2016-10-17 18:20] deepthawtz commented on #13
@dcu should there be a minimum Go version (and documentation)? Or add support for older too?

[2016-10-17 19:31] #33 closed

[2016-10-17 19:32] dcu commented on #13
@deepthawtz I think we should just set a minimum Go version, do you want to clarify that in the README file?

[2016-10-17 19:35] dcu commented on #21
@vic3lord do you have more details about this? you should be able to pass the credentials in the mongo uri

[2016-10-17 20:17] vic3lord commented on #21
I have passed the credentials through URI still get the same error

[2016-10-17 20:24] dcu commented on #21
are the credentials in a different db? are you passing `authSource` in the url? what do you see in the mongodb log?
we need more details to be able to debug what's happening.

[2016-10-17 20:47] vic3lord commented on #21
I'm sorry, but I don't have that kind of information, I'd love to help out but don't work on it anymore... would love to know the answer for the future though...

Thanks

[2016-10-17 22:36] deepthawtz commented on #13
sounds good to me 👍

[2016-10-30 13:46] ZOXEXIVO opened #40 "index_counters.go:35: too many errors"
Can't build exporter with Go 1.73

[2016-11-01 15:53] mg03 opened #41 "Hidden node"
I dont see metrics from a hidden node in my replset.

Is that by design or am I doing something wrong?

[2016-11-03 01:57] wolfencom commented on #40
I'm having this same problem.

# github.com/Percona-Lab/prometheus_mongodb_exporter/collector/mongod
collector/mongod/asserts.go:26: assertsTotal.WithLabelValues("regular").Set undefined (type prometheus.Counter has no field or method Set)
collector/mongod/asserts.go:27: assertsTotal.WithLabelValues("warning").Set undefined (type prometheus.Counter has no field or method Set)
collector/mongod/asse

[2016-11-03 14:35] deepthawtz opened #42 "git tags"
@dcu let's start tagging releases. it is getting difficult to tell what version people are deploying and issues and fixes are related to.

How do you feel about setting HEAD to `v1.0.0` and going from there?

[2016-11-03 14:44] deepthawtz commented on #40
this has nothing to do w/ Go version... It looks like the Prometheus Golang client changed up and the version was not pinned so these broke...

Updating to work w/ the latest version...

[2016-11-03 14:58] deepthawtz opened #43 "metrics defined but never getting set"
in `collector/metrics.go` several metrics are defined and exported but are never getting set

e.g., `metrics_ttl` and some of the `metrics_repl_*` metrics

/cc @dcu

[2016-11-03 14:58] deepthawtz commented on #43
also came across some others that are defined but never getting set in other files, don't remember off top of my head

[2016-11-03 15:14] deepthawtz commented on #41
we run hidden members in our replsets too and do not see stats for these nodes.

I'm googling around to see if this is an inherent limitation of `dbStats()` w/ hidden members or if there is a way to collect stats.

So far all I can find is `[a hidden member] is invisible to client applications` and prom exporter is essentially just another client application. Any help appreciated if you can find a

[2016-11-12 10:56] arthur-c commented on #40
Hi, https://github.com/dcu/mongodb_exporter/pull/44 is not solving the problem for me.

[code]

[code]

[2016-11-14 20:46] deepthawtz commented on #40
#44 was never merged, that's why the compile issues still exist...

we'll have to pin the version of prometheus client in order for what's on master to work

[2016-11-23 12:06] bamarni commented on #40
@deepthawtz : I've submitted a PR to vendor prometheus client to v0.8.0, using gopkg.in would have been the best option but unfortunately that didn't work, I think because of the underscore in the prometheus client repo.

[2016-11-23 17:13] #13 closed

[2016-11-23 17:13] #21 closed

[2016-11-23 17:14] #41 closed

[2016-11-23 18:36] #40 closed

[2016-11-23 18:44] deepthawtz commented on #28
@dcu can you add this repo to Travis-CI (free for open source)? I can help out w/ the `.travis.yml` file. It'll help to run tests against PRs, etc..

[2016-11-23 18:45] #42 closed

[2017-01-08 17:10] arthur-c opened #49 "monitore several replica sets"
Hi,

I tweaked the mongodb.uri parameter in many ways but I am not able to monitore several replica sets on a same machine with one mongodb_exporter.

Should we use one exporter by RS ?

[2017-01-10 15:27] dcu commented on #49
it's not supported but I think we should implement it

[2017-01-12 16:07] georgelee1 opened #50 "Multiple gauge entries for replset members"
In [`replset_status.go`](https://github.com/dcu/mongodb_exporter/blob/master/collector/replset_status.go#L164) `state` is being included as part of the label which can result in multiple gauge entries for a single host if it changes status.

For example, when a node has become unreachable it's state is set as `"(not reachable/healthy)"`. When it reverts to it's usual `"PRIMARY"` or `"SECONDARY"` t

[2017-01-23 10:13] fevlake opened #52 "Grafana Dashboard"
Hello!

Does anybody have grafana dashboard for that exporter?

It will be really cool if somebody can share it.

Thanks a lot!

[2017-01-26 06:01] checketts commented on #2
Did this get pushed to Docker hub?

[2017-02-08 13:32] eyj opened #53 "Compatibility with latest prometheus client"
Unfortunately the latest client does not allow one to set counters to specific values anymore, which breaks mongodb_exporter. There are two different branches around, one trying to solve the problem with Reset()s and recreating counters, the other vendors the old client.

It would be nice to get at least one of the approaches merged, so that other features can be developed/updated in the respectiv

[2017-02-08 21:37] mathieuhinderyckx commented on #53
See for a version which works with the latest client https://github.com/Percona-Lab/prometheus_mongodb_exporter/pull/38

[2017-02-24 15:03] ItsLachy commented on #52
https://github.com/percona/grafana-dashboards

[2017-02-28 11:51] ralberto opened #54 "Metrics when mongodb is not available"
It would be nice if this plugin exported a new metric signaling  mongodb availability.  There are other exporters doing that (ex. haproxy_exporter). Following the convention, it would be:

mongodb_up x ; where  x=0 mongo is down; x=1 mongodb is avaialable.

[2017-03-09 19:58] vvutharkar commented on #49
https://godoc.org/gopkg.in/mgo.v2#Dial .  claims to support more than one DB endpoint in the URI param string.  This is the package being used in at https://github.com/dcu/mongodb_exporter/blob/master/shared/connection.go#L12 , So why does it not seem to parse urls of the format  "mongodb://localhost:10500,localhost:10700" properly?

[2017-03-15 18:18] MathieuMailhos commented on #52
Maybe it's me but this Percona's MongoDB Overview Dashboard does not show anything.
Is it supposed to only work with Percon'as MongoDB exporter?

[2017-03-20 07:49] riskgod opened #55 "glide.sh has broken."
Hi, guys~
  here is one problem: when I up the mongodb_exporter, it's broken~, it said:
 curl: (6) Couldn't resolve host 'glide.sh'
So I tired to curl https://glide.sh/get, ok ~ it still down :(

[2017-04-18 20:47] deepthawtz commented on #55
glide's server being down isn't our problem.. you'll have to try again, sorry about that

[2017-04-18 20:47] #55 closed

[2017-04-18 20:49] deepthawtz commented on #50
@georgelee1 we'll be getting on this issue this week

[2017-04-18 20:56] georgelee1 commented on #50
Nice. I created a PR a while back if that helps.

[2017-04-19 20:35] #50 closed

[2017-05-15 09:32] zhihuiFan opened #58 "Get replication lag in an easy way"
Currently we have some metrics like

[code]

but I can't the the replication lag easily with Prometheus recording rule.   Do you have any suggestion on this?

is it ok to expose the replication_lag for current instance directly?

Thanks

[2017-06-01 02:16] zhihuiFan commented on #58
@dcu could you have a look at this?

[2017-06-01 19:32] dcu commented on #58
@zhihuiFan sure, just a minor typo fix is needed

[2017-06-06 18:34] #58 closed

[2017-07-05 10:08] insoIite commented on #54
Hello,
The exporter doesn't expose the mongodb_* metrics when it can't connect to the mongod instance.
Therefore you can have a rule wich looks that the exporter doesn't expose those metrics.

absent(mongodb_instance_uptime_seconds{job=“$your_target”})

This rule will return 1 if the metric mongodb_instance_uptime_seconds doesn't exist in the target $your_target

[2017-07-05 21:00] saada commented on #52
Made a PR https://github.com/dcu/mongodb_exporter/pull/61

[2017-07-05 22:23] dcu commented on #52
thanks @saada !

[2017-07-05 22:23] #52 closed

[2017-08-18 09:56] TheTincho opened #63 "Please consider cutting a release"
Hi!

I see that there has been quite some activity since the last release. Are there plans for a new release soon, or are you not planning in doing more releases?

Thanks!

[2017-08-18 16:42] dcu commented on #63
yeah I think we should do a release with the latest changes

[2017-08-28 11:15] leesk8012 opened #64 "Some error occured while retrieving from mongodb."
I can connect "http://127.0.0.1:9001/metrics".
and I can see the metrics about mongodb.
But some errors occured. My mongo DB version is 3.4.7
Here is error message.

`
E0828 10:38:49.825895   21966 replset_status.go:232] Failed to get replSet status.
E0828 10:38:49.826988   21966 oplog_status.go:127] Failed to get local.oplog_rs collection stats.
E0828 10:48:17.029035   21966 replset_status.go:232

[2017-09-21 18:00] csaudiodesign commented on #64
I can confirm this issue, although with other error-codes:

[code]
the exportert is started with the `groups.enabled` flag set to this value, explicitly excluding `op_counters` and `op_counters_repl`:

[code]

The mongodb instance in question is a singleton instance, without replication.

[2017-10-23 23:04] snarlysodboxer opened #70 "Race condition when requesting `/metrics` more than once at the same time"
If you start up the exporter and run `curl  http://localhost:9001/metrics & curl  http://localhost:9001/metrics` you will get back at least one 500 error.

The error messages all look like
[code]

This is a problem for us because our HA Prometheus setup tends to hit the exporter again while the exporter is still processing a request for another Prometheus instance.

Thanks!

[2017-10-27 00:47] leeningli opened #71 "Get http://10.25.167.139:9001/metrics: dial tcp 10.25.167.139:9001: getsockopt: connection refused"
./mongodb_exporter-linux-amd64 -mongodb.uri=mongodb://10.25.167.139:24000/ssf_h5 -auth.pass=zqbs@2017 -auth.user=deployop
cnsz142414:24000:hybrid >Listening on :9001 (scheme=HTTP, secured=no, clientValidation=no)

cnsz142414:24000:hybrid >netstat -an|grep 9001
tcp        0      0 0.0.0.0:9001                0.0.0.0:*                   LISTEN
tcp        0      0 10.25.167.139:9001          10.25.16

[2017-10-27 02:08] leeningli commented on #71
cnsz142414:24000:hybrid >./mongodb_exporter-linux-amd64 -log_dir -auth.user deployop -auth.pass *** -mongodb.uri="mongodb://10.25.167.139:24000/admin"
Listening on :9001 (scheme=HTTP, secured=no, clientValidation=no)
E1027 09:55:49.397194   19226 connection.go:48] Cannot connect to server using url mongodb://localhost:27017: no reachable servers

I have use -mongodb.uri="mongodb://10.25.167.139:24

[2017-10-27 03:09] leeningli commented on #71
mongodb_instance_local_time 1.509073622e+09
# HELP mongodb_instance_uptime_estimate_seconds uptimeEstimate provides the uptime as calculated from MongoDB's internal course-grained time keeping system.
# TYPE mongodb_instance_uptime_estimate_seconds counter
mongodb_instance_uptime_estimate_seconds 2.6097621e+07
# HELP mongodb_instance_uptime_seconds The value of the uptime field corresponds to the

[2017-10-27 03:23] #71 closed

[2017-10-30 15:34] avishefi commented on #63
Let's create a release procedure for this project, I don't mind setting up a Travis build for this matter (see #28 ).
What do you say?

[2017-11-01 05:40] leeningli commented on #64
I have the same problem:
Listening on :9001 (scheme=HTTP, secured=no, clientValidation=no)
E1101 13:39:40.126140   75084 server_status.go:173] Failed to get server status.
E1101 13:39:40.126418   75084 replset_status.go:232] Failed to get replSet status.
E1101 13:39:40.126533   75084 oplog_status.go:127] Failed to get local.oplog_rs collection stats.

this is my cmd:
./mongodb_exporter-linux-amd64

[2017-11-01 05:49] leeningli commented on #64
I use other's program:https://github.com/percona/mongodb_exporter/releases
run the same cmd ,and get this result:
INFO[0000] ### Warning: the exporter is in beta/experimental state and field names are very  source="mongodb_exporter.go:239"
INFO[0000] ### likely to change in the future and features may change or get removed!  source="mongodb_exporter.go:240"
INFO[0000] ### See: https://github.com/p

[2017-11-08 20:03] jonathan-kosgei opened #74 "Mongo SSL support"
I have the following mongo url
[code]

This however gives me the error

[code]

Is it possible to connect to a mongo replicaset with ssl enabled?

[2017-11-09 10:28] zhihuiFan commented on #54
@dcu   open pull request https://github.com/dcu/mongodb_exporter/pull/75 for this,  could you check if it is ok to merge?

[2017-11-09 23:02] arvenil commented on #49
@dcu

I don't understand actually what should be implemented here? Are you saying that one exporter should actually connect to all replica set members? Currently this line https://github.com/dcu/mongodb_exporter/blob/835afcacdc1c0049c0081f063ffdfbbfe01e2a57/shared/connection.go#L39 suggest that the idea was one exporter per node?

[2017-11-20 12:42] pchristos commented on #63
+1

[2017-11-22 13:30] YouriT opened #77 "Dashboard mongodb_replset_oplog_head_timestamp => mongodb_replset_oplog_tail_timestamp"
In the dashboard you referenced, I noticed that the oplog lag was based on `mongodb_replset_oplog_head_timestamp` but IMO it should use use the tail counterpart `mongodb_replset_oplog_tail_timestamp` no?

The head according to `collector/oplog_status.go` is calling `GetOplogTimestamp(.., false)` which will show the oldest value instead of the newest.

Btw, head should be the most recent and tail t

[2017-11-26 11:41] avishefi commented on #28
Additional actions to complete:

1. Configure <GITHUB_API_TOKEN> on .travis.yml
2. setup travis-ci.org project
3. tag to perform a new release, for example v1.1.0

[2017-11-27 14:36] povesteam opened #80 "Monitor collection statistics"
Is there a way to monitor activity on a per-collection basis?

Something like operations per second, but per collection too.

This would help to follow and investigate which collection triggers system load, or even dependencies between collections.

Thank you!

[2017-11-29 14:38] dcu commented on #28
@avishefi can you setup the project?

[2017-11-29 15:10] avishefi commented on #28
@dcu only admins can enable the builds on Travis

[2017-12-03 03:56] zhihuiFan commented on #54
The code in https://github.com/dcu/mongodb_exporter/pull/75  has been merged, so I think we can close this issue

[2017-12-03 12:00] #54 closed

[2017-12-03 12:22] avishefi commented on #28
I can do it if I have admin permissions on the repository

[2017-12-04 21:26] avishefi commented on #28
I triggered the build manually have submitted a pull request to fix a redundunt git clone in the build definition (pull request #82). The build passed successfully: https://travis-ci.org/dcu/mongodb_exporter/builds

I tried setting up the Travis build but they insist on having administrator permissions for this.
What remains to be done is to setup the <GITHUB_API_KEY> on .travis.yml and tag a comm

[2017-12-29 07:03] OmgImAlexis commented on #63
@dcu any news on this?

[2017-12-29 09:41] OmgImAlexis commented on #2
@dcu can you please create a docker hub account and setup an automated build.

[2018-01-17 11:42] avishefi commented on #28
I've merged a fix to .travis.yml and tested a build:
https://travis-ci.org/dcu/mongodb_exporter/builds/329831685

Now we need to configure the <GITHUB_API_KEY> on .travis.yml and tag a commit so a new release will be created. The repository admin must do this on Travis, I don't have permissions for that.

[2018-01-18 01:50] vr001 opened #83 "How to add an alert, if the db is down"
I see a lot of metrics, but is there any metric which helps to find whether the db is down or not?
Uptime doesn't do the job. (or am i missing something?) I thought if the connection goes to 0, then it potentially means the db is down.  Is there a better way?
Thanks.

[2018-01-18 09:27] avishefi commented on #83
Look into the serverStatus metrics and replset member health metrics

[2018-01-24 08:51] umnya opened #84 "Which metrics does it mean replication lag?"
Hi.
I would like to monitor replication lag.
I installed mongodb_exporter and I cannot find any metrics related replication lag.

[2018-01-24 11:38] avishefi commented on #84
my_replica_lag reports replset replication lag in seconds

[2018-01-25 06:57] umnya commented on #84
I am watching a result of "localhost:9001/metrics", but I cannot find my_relica_lag.

[2018-01-25 12:57] avishefi commented on #84
Depends on which version you have, I built a version of dcu lately and noticed the metric on the code:
https://github.com/dcu/mongodb_exporter/blob/21fe4ed80fdf5e759175273ebedf22024806cef0/collector/replset_status.go

Here's the fork where I built it using Travis:
https://github.com/avishefi/mongodb_exporter/releases

I'm trying to create a Travis build for dcu, but the repository administrator mu

[2018-01-26 07:18] umnya commented on #84
I installed this version, and I can find "mongodb_replset_my_replica_lag" metrics.

Thank you so much.

[2018-02-22 09:52] f4rx opened #85 "Error during `Docker build`"
Hello, I'm getting an error during `Docker build`
[code]

[2018-02-22 12:13] avishefi commented on #85
Perl requires escaping '{' characters since around version 5.22:
http://search.cpan.org/dist/perl-5.22.0/pod/perldelta.pod#A_literal_%22%7B%22_should_now_be_escaped_in_a_pattern

[2018-02-23 03:53] Samith88 commented on #85
Update following 2 lines in mongodb_exporter/Makefile,

perl -p -i -e 's/\{\{VERSION}}/$(TAG)/g' mongodb_exporter.go
perl -p -i -e 's/$(TAG)/\{\{VERSION}}/g' mongodb_exporter.go

[2018-02-23 05:30] umnya opened #86 "How can I see the wiredTiger metrics?"
Hi, I just have a question about mongodb_exporter.
I installed mongodb_exporter and executed it like this.

./mongodb_exporter -groups.enabled "asserts,durability,background_flushing,connections,extra_info,global_lock,index_counters,network,op_counters,op_counters_repl,memory,locks,metrics,wiredTiger" -mongodb.collect.database -mongodb.collect.top -mongodb.collect.connpoolstats -mongodb.collect.co

[2018-02-25 09:54] avishefi commented on #86
Maybe lowercase? wiredtiger

[2018-02-25 11:50] umnya commented on #86
I also tried using lower case ,but the result is the same.

[2018-02-25 14:14] zhihuiFan commented on #84
I added this metric before and I'm so glad to see this help others as well:)

[2018-02-25 14:19] zhihuiFan opened #88 "Add logRotate to mongodb_exporter"
Hi @dcu
  Currently I'm using mongodb_expoerter in my environment,   and I don't want to install too many agents.  Now I want a feature to a different url path.
1. allow a user to logRotate regularly.   Like once per day
2. configure a log retention policy so that the old log can be purged automatically.

I know it is not part of Prometheus agent,  so I want to know if it is welcome to send such P

[2018-02-25 14:24] avishefi commented on #88
Prometheus exporters do not generate logs normally, what log do you want to configure & rotate?

[2018-02-25 14:39] zhihuiFan commented on #88
The logs of mongodb, sometime it may take a lot of spaces

[2018-02-26 08:36] avishefi commented on #88
Prometheus exporters expose metrics, they do not manage log files

[2018-04-17 18:42] ryanwaldron commented on #74
Would love to see this. Using Mongo Atlas and SSL is required for connection.

[2018-04-19 23:49] rul commented on #86
You can see if you are actually running with WiredTiger with this metric: `mongodb_storage_engine`

[2018-04-23 07:53] sanvila commented on #88
OP probably refers to all the stuff accumulating at /var/log/prometheus in the form prometheus-mongodb-exporter.MACHINE.TIMESTAMP. Those log files are generated by prometheus-mongodb-exporter and
by default they take a lot of disk space.

I agree that it would be nice to have a procedure allowing the user to rotate those logs.

[2018-04-24 15:08] hairyhenderson opened #90 "Query execution time metrics?"
Sorry if this is a dumb question, but is it possible to get simple query execution time metrics from this exporter? Specifically I want to answer the question "How long are read/insert/update queries taking?"

I think profiling will need to be enabled to answer this (based on https://docs.mongodb.com/manual/tutorial/manage-the-database-profiler/), but in my use-case the overhead is worth the visib

[2018-05-01 00:33] rockb1017 opened #93 "data collecting interval"
Hello,

![image](https://user-images.githubusercontent.com/12387289/39456560-3845416e-4c9c-11e8-9c71-0c4e5fba3833.png)
Can someone help me why I am seeing spikes of data rather than continuous data?
I have spike in numbers from prometheus.
![image](https://user-images.githubusercontent.com/12387289/39456602-75e183a2-4c9c-11e8-9af3-2c4e016ef44d.png)

it seems mongodb server status is not constantly

[2018-05-01 19:01] rockb1017 commented on #93
I found out why. I provided multiple mongodb address like,
`mongodb://x.x.x.x:27017,y.y.y.y:27017/db?replicaSet=mmm `
this causes serverStatus data come from different mongod instance.
After I use only one, (primary address) it became fine.
/close

[2018-05-01 19:01] #93 closed

[2018-05-02 21:28] gao-jian commented on #88
my log file is named like mongodb_exporter.ip-10-72-229-205.ec2-user.log.INFO.20180502-212317.24179.

How to change the log level other than INFO?

[2018-05-03 02:01] abll opened #94 "Metric Namespacing"
I noticed an issue that was opened to allow namespacing of the metrics from the mongodb exporter. Is this functionality now part of the exporter?

If not is there any plans to make it so?

Thanks

Abel

[2018-05-03 15:05] gao-jian opened #95 "monogdb_exporter crashed"
As a test, I compiled the master branch on Amazon Linux ec2 using golang 1.10.1, and ran exporter on two ec2 instances. But they crashed. I checked the log directory, but no any info logged since started.

I tested a few times. It always crashes in a few hours.

how to troubleshoot this problem? Thanks.

[2018-05-04 22:37] fgraichen opened #96 "Not seeing the correct stats"
I am not seeing any of the stats for the actual database..
examples of what I am seeing..  NO OP counters etc  -  Do I need to create an ID that can get the stats  see startup below..

http_response_size_bytes{handler="prometheus",quantile="0.5"} 1365
http_response_size_bytes{handler="prometheus",quantile="0.9"} 1368
http_response_size_bytes{handler="prometheus",quantile="0.99"} 1368
http_response

[2018-05-04 23:25] fgraichen commented on #96
I had two errors in the db url..  took way to long to notice..closing issue

[2018-05-04 23:25] #96 closed

[2018-05-05 10:58] lynnsummersmell commented on #64
i met the same problem，how do you solve this?
E0505 18:49:15.893751     860 replset_status.go:270] Failed to get replSet status.
E0505 18:49:15.893902     860 oplog_status.go:127] Failed to get local.oplog_rs collection stats.
E0505 18:49:30.893287     860 replset_status.go:270] Failed to get replSet status.
E0505 18:49:30.893438     860 oplog_status.go:127] Failed to get local.oplog_rs collection

[2018-05-15 05:48] supriyopaul commented on #85
Is this fix done? I'm still getting the error
![image](https://user-images.githubusercontent.com/33823698/40038837-b7f10ba0-5831-11e8-9dc2-1d7351e58d12.png)

[2018-05-15 15:02] arvenil opened #97 "`-groups.enabled` and `EnabledGroups`"
Hi, do I understand correctly that `-groups.enabled` option is actually not doing anything?
I see a call to [shared.ParseEnabledGroups](https://github.com/dcu/mongodb_exporter/blob/master/mongodb_exporter.go#L186) that sets [`EnabledGroups`](https://github.com/dcu/mongodb_exporter/blob/f2d1328168078cb9fd7c254663e38871d7adbc13/shared/group_desc.go#L1-L18) global, but it doesn't seem to be used anyw

[2018-05-22 09:11] Costriod opened #98 "Is there any exporter for mongodb shard cluster?"
Hello, bro, Do you have any solution for monitoring the whole cluster

[2018-05-22 12:47] #85 closed

[2018-05-28 16:41] bryanlarsen commented on #83
@vr001, did you find a good metric to monitor db state?   uptime and number of connections do seem like they'd do the trick -- what was the issue with them?

[2018-06-04 12:36] ghost opened #99 "Example exporter script"
HI,

Do we have a simple script the perhaps does a mongodb insert and find to test this exporter out please?

Aidy

[2018-06-04 13:54] ghost opened #100 "Failed to get replSet status. oplog_status.go, Failed to get local.oplog_rs collection stats."
Hello,

I have a local running instance of mongodb with prometheus
[code]

However when I run the mongodb_exporter, I am getting this:

$ ./mongodb_exporter-darwin-amd64
Listening on :9001 (scheme=HTTP, secured=no, clientValidation=no)
E0604 13:01:13.175465    2063 replset_status.go:232] Failed to get replSet status.
E0604 13:01:13.176202    2063 oplog_status.go:127] Failed to get local.oplog_rs c

[2018-06-04 14:24] rush24 opened #101 "export metrics with host info"
for example: a metrics name like `mongodb_op_counters_total{type="query"} 1` ,
but we can not differentiate different host, can we?
like this: `mongodb_op_counters_total{type="query", host="127.0.0.1"} 1`

Hope to receive your reply, thx!

[2018-06-04 15:15] #100 closed, assigned to nobody

[2018-06-04 15:19] ghost commented on #100
[code]
Set environment variable MONGODB_URL before starting the exporter:
export MONGODB_URL=mongodb://mongodb_exporter:s3cr3tpassw0rd@localhost:27017

[2018-06-04 15:55] #99 closed, assigned to nobody

[2018-06-04 15:56] ghost commented on #99
Dearer me. Wrong project.

[2018-06-05 05:54] #101 closed, assigned to nobody

[2018-06-05 14:27] ghost commented on #64
Did anyone get passed this, I thought I did yesterday, but the same error?

[2018-06-14 09:45] setevoy2 commented on #2
Hi there. Any updates with Docker image on Docker Hub?

[2018-06-21 09:51] Kenblair1226 commented on #64
Looks like the author has not implemented collecting replSet data yet. If you want to turn the error message off, you can add -mongodb.collect.replset=false and -mongodb.collect.oplog=false

[2018-06-25 18:35] zbjornson commented on #98
There's a fork that supports sharded clusters: https://github.com/percona/mongodb_exporter

[2018-06-26 08:17] pvikas opened #102 "Unable to view details in grafana"
Hi,

I am able to get the exporter running with the following command

./mongodb_exporter-linux-amd64 -mongodb.uri "mongodb://mongodb_exporter:s3cr3tpassw0rd@localhost:27017/" -groups.enabled="asserts,durability,background_flushing,connections,global_lock,index_counters,network,memory,locks,metrics" -mongodb.collect.replset=false -mongodb.collect.oplog=false

But every time I hit the metrics URL '

[2018-06-27 13:15] Costriod commented on #98
haha, I found it sevral days ago and compiled it,  it worked very well

[2018-06-28 09:15] asking28 opened #103 "Error while running Mongodb_exporter."
I ran mongodb_exporter, although I am able to view query results on prometheus, it gives the error mentioned below while running.
[code]

[2018-06-28 20:09] csprl commented on #102
Same issue on Grafana 5.2.0 and MongoDB 4.0.0.

[2018-07-02 07:31] fengfshao commented on #103
try this: https://github.com/percona/mongodb_exporter

[2018-07-27 07:15] sammit20 opened #104 "The Source build is missing certain directories."
cannot find package "github.com/golang/glog"
cannot find package "github.com/prometheus/client_golang/prometheus"
cannot find package "gopkg.in/mgo.v2"
cannot find package "gopkg.in/mgo.v2/bson

[2018-08-03 15:49] vlevitskiy-gemicle commented on #98
@zbjornson do u have proper dashboard for grafana?

[2018-08-14 08:43] strahe commented on #98
@Costriod Hi, which grafana dashboard do you use?

[2018-08-23 03:23] srini3463 commented on #95
@gao-jian Can you please explain the installation steps which you followed. I am trying to setup on Linux machine which has no internet connectivity.

Thanks.

[2018-08-23 03:28] srini3463 commented on #98
@Costriod  Can you please explain the installation steps. I am trying to setup on Linux machine which has no internet connectivity.

Thanks

[2018-08-23 03:32] srini3463 commented on #102
@pvikas Can you please explain the installation steps. I am trying to setup on Linux machine which has no internet connectivity.

Thanks

[2018-09-07 11:46] madvimer opened #107 "Unable to view all metrics"
I am using mongo exporter to extract metrics in prometheus. However i believe i cannot see all teh metrics( like index_counters_total and many others by going through the collector code). I am just starting the exporter without any additional arguments.
Attaching the stats that got generated. Is there something that i am missing ?

[dcuStats.txt](https://github.com/dcu/mongodb_exporter/files/23608

[2018-09-10 10:59] arvenil opened #108 "`--mongodb.uri` vs `MONGODB_URL`"
[code]

I find it confusing that flag is `--mongodb.uri` but env is `MONGODB_URL` - and looks like not only me https://github.com/percona/mongodb_exporter/pull/113
Do you have any preference to change this? Either to `MONGODB_URI` or flag to `--mongodb.url`? MongoDB documentation states https://docs.mongodb.com/manual/reference/connection-string/#connection-string-uri-format
I can prepare PR.

[2018-09-26 13:17] zjagust commented on #88
Yeah, I'd like to know what and how generates those files. The largest one I have is aroung 350 MB and others are no less than 80 MB. Would be cool if there is some way to rotate/compress/purge old those file.

[2018-10-25 15:16] AlekSi commented on #28
@dcu You just need to login into Travis CI with your GitHub account and click there: https://travis-ci.org/dcu/mongodb_exporter.

[2018-10-30 18:52] phivid commented on #35
I'm trying to connect my mongodb_exporter to a local mongodb with SSL but I'm simply not sure how to proceed:

[code]

But I have those errors:

[code]

However, from this same server, through CLI, I can connect with SSL:
[code]

Need help please...

[2018-11-08 03:43] yeya24 opened #110 "nil pointer panic when monitoring a mongodb with no username and password set"
Start mongodb in 192.168.2.254 centos 7 with no username and password set
[code]
Then I start the exporter  binary in another centos in the same subnet
[code]
The error is
[code]

[2018-11-16 16:30] ealexhaywood commented on #110
Check out https://github.com/percona/mongodb_exporter which is a fork of this repository and seems more active than this one.  I'm curious if it would resolve this issue

[2018-11-23 16:12] NTU08 commented on #107
I found this too using the docker hub eses/mongodb_exporter docker image  https://hub.docker.com/r/eses/mongodb_exporter/
looks to me that the code
https://github.com/dcu/mongodb_exporter/blob/master/mongodb_exporter.go
have variable for the various mongodb.collect values
	mongodbCollectConnPoolStats         = flag.Bool("mongodb.collect.connpoolstats", false, "Collect MongoDB connpoolstats")
but m

[2019-02-06 14:59] mrhnrk commented on #2
Example one: https://hub.docker.com/r/loefflefarn/dcu_mongo_exporter

[2019-03-08 10:05] LzxUser opened #112 "server returned error on SASL authentication step: Authentication failed."
I tried to use mongo to connect, it is correct, I do not know what happened

[2019-03-11 02:45] LzxUser commented on #96
I want to know what problem you found and how to solve it，
server returned error on SASL authentication step: Authentication failed.
I have the same problem

[2019-03-26 11:22] AmjadHussainSyed opened #113 "How to monitor multiple mongo cluster"
How to monitor multiple mongo cluster, is there a way to pass multiple mongo urls, is it supported.

[2019-04-15 13:28] n1o commented on #110
Hi @yeya24 ,
does this issue occur if you provide username and password?
Because I am experiencing the same issue, but i have not tried it with credentials. This issue appeared after I upgrade from mongo 3.6 to 4.1.9.  However I was able to apply the following quick fix:

[code]
In metrics.go
This way you probably loose some metrics, but the rest should work.

[2019-04-25 08:40] #113 closed, assigned to nobody

[2019-04-25 08:43] AmjadHussainSyed opened #114 "what is the metrics for protocol:op_msg 501439ms"
i'm trying to get the time taken for all queries in mongodb. I'm not able to find a relevant metrics which gives this value from the log *`protocol:op_msg 501439ms`*

[2019-05-27 12:50] webcharm opened #115 "How to configure Grafana Dashboard?"
Hello,

I have installed mongodb_exporter and node_exporter. I have imported the Grafana Dashboard too. But I am not able to see any details. How do I configure my Grafana to pick up details from mongodb_exporter?

Thanks in advance.

[2019-07-17 06:12] #104 closed, assigned to nobody

[2019-07-17 06:13] sammit20 commented on #104
The env variables were not set correctly.

[2019-07-24 22:08] valonhaliti commented on #115
Follow this article: http://devconnected.com/mongodb-monitoring-with-grafana-prometheus/

[2019-07-25 08:28] Willsms commented on #112
User rights are not enough，create a dbOwner in mongo.
`db.createUser({user: "exporterdb", pwd: "*********", roles: [{role: "dbOwner", db: "user_data"}]})`

[2019-07-25 15:43] bbibentyo opened #116 "Read config from JSON or YAML file"
Just in case this feature is not yet there, It would be nice if we can pass put all the configuration into a file and pass file when starting the process. It's better than having to manually type the password, which makes it visible to all who have access to the server.

`./mongodb_exporter -config-file=/etc/some_file.json`

[2019-07-26 11:30] AmjadHussainSyed commented on #112
did you add `--authenticationDatabase` in your mongo url?

[2019-08-10 12:16] mostafaghadimi opened #117 "Mongodb Exporter doesn't Show the Metrics Using Docker and Prometheus"
I'm trying to dockerize mongodb monitoring from the tutorial I have seen in [this page](https://medium.com/@journald/prometheus-on-ecs-with-mongodb-exporter-8b58dad1ee8f).

Here is my Dockerfile configuration:

    FROM alpine
    RUN apk update && apk add wget && rm -rf /var/cache/apk/*
    RUN wget https://github.com/dcu/mongodb_exporter/releases/download/v1.0.0/mongodb_exporter-linux-amd64

[2019-08-10 16:28] avishefi commented on #117
Try using: `-mongodb.uri mongodb://root:example@mongo:27017`

[2019-08-10 16:30] avishefi commented on #28
@dcu can we setup a release using Travis? all that's left is to issue a GitHub API key for: https://travis-ci.org/dcu/mongodb_exporter

[2019-08-10 18:30] mostafaghadimi commented on #117
@avishefi  sorry I have edited the post. It doesn't work even with mongo:27017

[2019-08-11 11:31] #117 closed, assigned to nobody

[2019-09-16 15:50] jsedy7 commented on #112
I have the same problem 🤔

User in mongo:
[code]

Logs from exporter:
[code]

What's wrong?

[2019-09-26 08:50] liamliu1986 opened #118 "I got a error: ..... no reachable servers"
My mongodb has a username = xxxx@xxxxxx.cn  password=xxx.xxx.xxx
I used the command:
[code]

but , I got the Error notice
E0926 16:30:13.003667   44532 connection.go:48] Cannot connect to server using url mongodb://xxxx@xxxxxx.cn:xxx.xxx.xxx@mongo02.xxx.com:27017: no reachable servers

I can use this uri access the mongodb through CIL

[2019-11-04 15:06] IntiGabriel commented on #88
You can configure glog to log to stderr `-logtostderr=true` or log to another dir `-log_dir="<ANOTHER_DIR>"` to avoid filling up disk space. I need to redirect logs for long running containers.

More documentation for glog: https://godoc.org/github.com/golang/glog

[2019-11-15 03:05] tangxuye opened #119 "Failed to get server status and metrics cannot be obtained"
My mongodb is single instance and I can't obtain the relevant monitoring items in Prometheus Sever  after starting mongodb_exporter.
The command format is as follows: nohup ./mongodb_exporter-linux-amd64  -mongodb.collect.replset=false -mongodb.collect.oplog=false -mongodb.uri "mongodb://usr:12345@ip:27017" &
 When I checked the output log, I found the system prompt: 24687 server_status. Go :173]

[2019-11-19 10:43] GFZRZK commented on #117
Is there any difference between your mongouri and the auther's?

[2019-11-19 10:47] GFZRZK opened #120 "An error lead crash"
I found that if there is some special character in mongo uri like '(' or any other characters, the exporter will crash.Am I doing somethin wrong in my configurations?

[2019-12-10 13:31] vineet3185 opened #121 "Is mongodb_exporter supports Windows OS also?"
Is mongodb_exporter supports Windows OS also?
I can see download for Linux and Mac OS only. How can I test in windows machine?

[2019-12-20 01:59] Atangwy opened #122 "Unable to comply with mongodb 4.2.2, error: panic: runtime error: invalid memory address or nil pointer dereference"
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x508228]

goroutine 32 [running]:
panic(0x73d340, 0xc42000a0e0)
        /usr/local/go/src/runtime/panic.go:500 +0x1a1
github.com/dcu/mongodb_exporter/collector.(*PreloadStats).Export(0x0, 0xc42010c4e0)
        /Users/dc/code/go/src/github.com/dcu/mongodb_exporter/co

[2019-12-23 14:06] vkumar3646 commented on #115
I need to export MongoDB collections data into Prometheus DB. How to do it? Please help me on this.

[2019-12-23 14:10] vineet3185 commented on #115
I need to export MongoDB collections data into Prometheus. How to do this?
Can you help me on this?

[2019-12-23 16:22] st-h commented on #112
I would advice to use the role [clusterMonitor](https://docs.mongodb.com/manual/reference/built-in-roles/#clusterMonitor) instead the much more permission `dbOwner`. In case you are still having  trouble after creating a user with appropriate permissions, the issue often seems that the `@` character in the connection stream causes issues in cause no escaping is used. Easiest fix seems to be to jus

[2020-01-07 11:30] rkm commented on #122
Hi, I'm also seeing this. Is there a fix available?

[2020-01-08 09:21] WilliamThh commented on #122
+1

[2020-01-08 09:38] rkm commented on #122
Seems like this project is no longer under development. I'm planning migrating to this fork: https://github.com/percona/mongodb_exporter

[2020-01-14 10:48] yunusemrecatalcam commented on #41
Hey from the future.
Similar but not the same; We also have a hidden node, I can see it as a member on member state graph. I'm running 3 instance of exporter for 3 mongo (1 master and 2 rs). While I can get the metrics from rs that is not hidden, can't get metric from hidden rs. Exporter trying to crawl metric from hidden rs prints an error like this:

`level=error msg="Failed to get replSetGetCon

[2020-01-14 10:54] yunusemrecatalcam opened #123 "Unauthorized error on hidden node"
We have a hidden node, I can see it as a member on member state graph. I'm running 3 instance of exporter for 3 mongo (1 master and 2 rs). While I can get the metrics from rs that is not hidden, can't get metric from hidden rs. Exporter trying to crawl metric from hidden rs prints an error like this:

level=error msg="Failed to get replSetGetConfig: (Unauthorized) command replSetGetConfig requires

[2020-02-13 16:13] Hugo-Santillan commented on #64
Hi, I met the same problem conecting from mongo_exporter container to mongodb container in docker-compose file and want to know if someone solve it.
**mongo_1             | 2020-02-13T16:05:52.659+0000 I  NETWORK  [listener] connection accepted** from 192.168.208.4:37474 #7 (4 connections now open)
mongodb-exporter_1  | E0213 16:05:52.660839       1 server_status.go:203] Failed to get server statu

[2020-02-25 14:06] liying6600 commented on #122
+1

[2020-02-28 09:47] grearter commented on #123
@yunusemrecatalcam https://jira.percona.com/browse/PMM-4829

[2020-04-07 06:44] itsx opened #125 "Unauthorized error of disconnected MongoDB replica set"
We have MongoDB replica set with 3 nodes. When are MongoDB nodes disconnected, because of the network failure, mongodb exporter logs errors and doesn't collect the majority of metrics:

mongodb exporter log output:
[code]
When the connection between nodes is established again and replica set is recovered, errors
disappear and metrics are being collected again without problems.

I found out, there

[2020-04-14 12:44] wireless00 commented on #116
Is it now possible ? It seem's to me that using a config file (.json or .yaml) is a valid request.
1 year and no update ?

I see no commit for 2 years now.... May be Prometheus should remove this exporter from the recommanded exporters.......

[2020-04-14 12:55] wireless00 commented on #116
ok. It seem someone forked this repo and enhanced the tool.
You can find it here: There is active developement on it.
https://github.com/percona/mongodb_exporter

[2020-04-15 16:08] manukoli1986 commented on #119
Hi Tangxuye,

Before executing via nohup and run it in backgroud. Just run the same command in console to get output and you will have idea about your issue.

like below output.

# **mongodb_exporter --mongodb.uri=mongodb://1.1.1.1:27017 --collect.database**
INFO[0000] Starting mongodb_exporter (version=0.10.0, branch=v0.10.0, revision=bf683745093a9210ebacbeb235bb792e21d17389)  source="mongodb_exp

[2020-04-30 07:45] jnet06 commented on #122
+1

[2020-05-18 06:51] letran3691 opened #126 "can't make build"
I has problem when build. please help me.
![image](https://user-images.githubusercontent.com/19284401/82189864-4ee43700-991a-11ea-9f23-ec783f2e0d52.png)

[2020-05-18 08:22] #126 closed, assigned to nobody

[2020-06-03 06:33] ShawnGoethe commented on #122
4.2.6 also has the same problem , someone know how to  solve it?
cause we can't downgrade our mongo version

[2020-06-25 19:30] vkuznet opened #127 "mongodb exporter crashes"
I'm unable to run mongodb exporter it always crashes either on Linux (within k8s) or locally on OSX. The error I got is always the same, see below the output from OSX crash. I run MongoDB locally, it does not have any replicas, etc, very basic setup. But error seems to be related to replica sets which I explicitly turned off. The error occurs every time I start querying the mongodb_exporter server

[2020-07-15 03:41] #116 closed, assigned to nobody

[2020-08-28 02:00] GOrtiz16 commented on #127
Hi, I have the same problem. Did you solve it?

[2020-08-28 12:36] vkuznet commented on #127
yes, I applied this change:
https://github.com/vkuznet/mongodb_exporter/commit/9a287e6f7e8a9df2f573306db1689f33b401d091

[2020-10-01 01:15] vicksiyi opened #129 "Failed to get server status. panic: collector has no descriptors"
[code]

[2021-01-06 07:41] mongsil1025 commented on #122
just like @rkm  said, try use mongodb_exporter that percona made
I had same error, after switching exporter from dcu to percona, it solved

[2021-01-11 09:09] eraizi opened #130 "Is mongodb_exporter supports Windows OS also?"
Is mongodb_exporter supports Windows OS also?

[2021-01-12 18:13] mehrdadhosseinzadeh commented on #52
i am using percona mongodb_exporter
all metrics prefix is mongodb_ss
but does not any dashboard in grafana show visualation
please help
@saada
@dcu

[2021-01-22 04:13] yiding-he opened #131 "How to specify port other than 9001?"
Any documentation about the executable parameters?

[2021-01-27 05:36] #131 closed, assigned to nobody

[2021-02-01 20:58] som-kanade commented on #90
can some one help me with execution read and write query for promethues i have below one but doesnot seem to give exact metric value

```((avg(rate(mongodb_mongod_op_latencies_latency_total{type="write",mongo_cluster=~"$cluster_name"}[5m])) by (instance)) * on (instance) group_right mongodb_mongod_replset_my_name) * on (instance,name,service) group_right mongodb_mongod_replset_member_health{state=

[2021-03-03 15:22] Bodenhaltung opened #132 "panic: runtime error: invalid memory address or nil pointer dereference"
Hi,

on my vm the exporter crashed if i curl the metrics, i get a segfault:

[code]

[2021-04-05 16:24] JohnnieFucker commented on #129
I have the same issue,is there any way to solve it?

[2021-04-05 19:29] andremarinho commented on #129
I have the same problem, does anyone have the solution?

[2021-04-06 10:41] tcurdt opened #133 "still maintained?"
Is this project still maintained?

It seems like https://github.com/percona/mongodb_exporter is where it's at instead?

[2021-04-06 15:15] tcurdt commented on #132
@Bodenhaltung did you manage to work around this? I got the same problem.

[2021-04-09 08:44] saiakhil46 commented on #132
Facing same issue when I curl /metrics path
@dcu can you fix the issue, Thanks in advance

[2021-04-09 08:47] tcurdt commented on #132
I didn't find a work around and switched to https://github.com/percona/mongodb_exporter

[2021-04-09 08:50] saiakhil46 commented on #132
@tcurdt Thanks, can you share supported grafana dashboard link.

[2021-04-09 10:50] tcurdt commented on #132
Not yet. Sorry.
Probably worth getting in touch with people from the percona project if you don't want to create it yourself.

[2021-07-06 21:15] dusatvoj opened #134 "Can't build docker image"
[code]

[2021-07-20 01:45] bg-govau commented on #127
For me it happened when I updated mongo from 4.0 to 4.2

[2021-08-25 03:08] changzhichen opened #135 "Cannot connect to MongoDB: server selection error: context canceled, current topology"
mongodb version:
![image](https://user-images.githubusercontent.com/27051861/130719897-2ef3098d-733a-4bce-ae0c-78a3c8682d3f.png)

[2021-08-25 03:09] changzhichen commented on #135
![Uploading image.png…]()

[2021-08-25 03:16] changzhichen commented on #135
![image](https://user-images.githubusercontent.com/27051861/130720501-fa5224ab-adba-40c9-bf70-c444fdbf5355.png)
How? Gratitude

[2021-08-25 03:17] changzhichen commented on #135
solved

[2021-08-25 08:25] #135 closed, assigned to nobody

[2021-08-25 08:25] changzhichen commented on #135
solved

[2021-11-17 22:38] jsirianni opened #136 "Kubernetes support"
Hi, I have a few questions

- Are container images published with each release?
- Is there a Kubernetes example deployment (or should the exporter run as a sidecar?)

I am happy to contribute something like this if it does not exist.

[2022-02-22 16:16] johnsimmons1980 commented on #134
I found if you add:
RUN go env -w GO111MODULE=auto

underneath:
FROM       golang:alpine as builder
RUN apk --no-cache add curl git make perl

in the docker file, it will build correctly

[2022-03-20 17:29] slashclash commented on #52
[mehrdadhosseinzadeh](https://github.com/mehrdadhosseinzadeh), you can try to use --compatible-mode flag when starting the exporter.

[2022-06-03 09:43] rgaufman commented on #122
+1 Not getting much data, only Oplog lag and getting the same error.

<img width="1790" alt="Screenshot 2022-06-03 at 10 30 50" src="https://user-images.githubusercontent.com/33842342/171830676-ab04e0e6-fbb2-4e7b-86e4-26d46370b5e6.png">

Going to try the fork thank you! (https://github.com/percona/mongodb_exporter)

[2022-08-29 06:14] sigedengpao opened #138 "build error?help/(ㄒoㄒ)/~~"
environment:
os : mac m1
go : 1.17
glide : 0.13.3

there are many errors in project when i building the project, i guess may be it is becouse  of my environment??
somebody had met the same problem??

[2022-09-12 06:04] hloeung commented on #132
Looks like it might be similar to #127 with the PR https://github.com/dcu/mongodb_exporter/pull/128

[2022-09-12 06:04] hloeung commented on #122
Looks like it might be similar to #127 with PR #128 fixing it.

[2022-09-12 06:07] hloeung commented on #127
#128